<div>
    <div class="divider"></div>
    <div class="vozilo-detalj">{{ vozilo.voziloId }}</div>
    <div class="divider"></div>
    <div class="vozilo-detalj">{{ vozilo.marka }}</div>
    <div class="divider"></div>
    <div class="vozilo-detalj">{{ vozilo.model }}</div>
    <div class="divider"></div>
    <div class="vozilo-detalj">{{ vozilo.godinaProizvodnje }}</div>
    <div class="divider"></div>
    <div class="vozilo-detalj">{{ vozilo.registarskaOznaka }}</div>
    <div class="divider"></div>
    <div class="vozilo-detalj">{{ vozilo.kategorijaId }}</div> 
    <div class="divider"></div>
</div>
